* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.containerText {
  margin-top: 12px;
  min-height: 100vh;
  padding: 15px;
}
.titleContainerText {
  margin-top: 40px;
  color: $primary-color;
  text-align: center;
  font-size: 30px;
}
.paragraphContainerText {
  line-height: 30px;
}
strong {
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 80px;
}
#imgEx {
  height: 450px;
  width: 450px;
}
.codExamples {
  background-color: black;
  color: white;
}
